mixin info-block(img-src, title)
    .info-block(class=attributes.class)
        .info-block__header
            img(src=img-src, class="info-block__img")
            h1(class="info-block__title")=title
            span(class="info-block__line")
        .info-block__content
            block