mixin logo()
    -
        var mod = {
            logo: attributes.mod.logo? attributes.mod.logo : "",
            logo__ring: attributes.mod.logo__ring? attributes.mod.logo__ring : "",
            logo__img: attributes.mod.logo__img? attributes.mod.logo__img : ""
        };
        
        mod = pugHelper(mod);

    div(class=`logo${mod.logo}`)
        div(class=`logo__ring${mod.logo__ring}`)
        if(img)
            img(class=`logo__img${mod.logo__img}` src=`./${attributes.img}.png`)