
mixin logo({imgName="",mod={}})
    +b({tag:"div",mod}).logo
        +e({tag:"div",mod}).logo__ring
        if(imgName)
            +e({tag:"img",
                attr={src=`.\/${imgName}.png`},
                mod}).logo_img