-
  const modHelper = mod =>{ 
    for(key in mod){ 
      mod[key] = mod[key]===""? "" :
      " "+mod[key]
      .split(" ")
      .map(item => {
        return mod[key]=`${key}_${item}`})
      .join(" "); 
    } 
    return mod;
  }